In [55]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import xgboost as xgb

In [56]:
df = pd.read_csv('SOLUSTDAtas_tratado.csv')
df.head()

                  date  open  high   low  close
0  2020-08-12 03:00:00  3.10  3.35  3.10   3.25
1  2020-08-12 04:00:00  3.25  3.25  3.15   3.15
2  2020-08-12 05:00:00  3.15  3.30  3.15   3.30
3  2020-08-12 06:00:00  3.30  3.30  3.15   3.30
4  2020-08-12 07:00:00  3.25  3.25  3.20   3.25

In [57]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36400 entries, 0 to 36399
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    36400 non-null  object
 1   open    36400 non-null  float64
 2   high    36400 non-null  float64
 3   low     36400 non-null  float64
 4   close   36400 non-null  float64
dtypes: float64(4), object(1)
memory usage: 1.4+ MB
None

# Preprocesado de Datos

In [58]:
tamanio = df.shape[0]

In [59]:
df_train = df.copy().loc[0:int(tamanio*0.7)]
df_train

                      date   open   high    low  close
0      2020-08-12 03:00:00   3.10   3.35   3.10   3.25
1      2020-08-12 04:00:00   3.25   3.25   3.15   3.15
2      2020-08-12 05:00:00   3.15   3.30   3.15   3.30
3      2020-08-12 06:00:00   3.30   3.30   3.15   3.30
4      2020-08-12 07:00:00   3.25   3.25   3.20   3.25
...                    ...    ...    ...    ...    ...
25476  2023-07-11 21:00:00  22.00  22.05  21.90  22.00
25477  2023-07-11 22:00:00  22.00  22.10  21.90  22.00
25478  2023-07-11 23:00:00  22.00  22.05  21.75  21.95
25479  2023-07-12 00:00:00  21.95  22.10  21.90  22.05
25480  2023-07-12 01:00:00  22.05  22.15  22.00  22.10

[25481 rows x 5 columns]

In [60]:
df_vali = df.copy().loc[int(tamanio*0.7 + 1):int(tamanio*0.9)]
df_vali

                      date    open    high     low   close
25481  2023-07-12 02:00:00   22.10   22.30   22.05   22.15
25482  2023-07-12 03:00:00   22.15   22.25   22.10   22.10
25483  2023-07-12 04:00:00   22.10   22.10   22.00   22.00
25484  2023-07-12 05:00:00   22.00   22.00   21.90   21.95
25485  2023-07-12 06:00:00   21.95   22.05   21.90   22.00
...                    ...     ...     ...     ...     ...
32756  2024-05-10 05:00:00  153.65  154.35  152.85  153.95
32757  2024-05-10 06:00:00  153.95  154.70  153.45  153.75
32758  2024-05-10 07:00:00  153.75  154.10  152.30  153.30
32759  2024-05-10 08:00:00  153.30  155.10  153.15  154.95
32760  2024-05-10 09:00:00  154.95  155.75  154.25  154.35

[7280 rows x 5 columns]

In [61]:
df_test = df.copy().loc[int(tamanio*0.9 + 1):tamanio]
df_test

                      date    open   high     low   close
32761  2024-05-10 10:00:00  154.35  154.5  153.45  154.10
32762  2024-05-10 11:00:00  154.10  154.8  153.25  154.15
32763  2024-05-10 12:00:00  154.15  154.3  153.25  154.15
32764  2024-05-10 13:00:00  154.15  155.2  153.00  155.05
32765  2024-05-10 14:00:00  155.05  155.4  153.10  153.30
...                    ...     ...    ...     ...     ...
36395  2024-10-08 20:00:00  143.35  143.9  142.35  142.95
36396  2024-10-08 21:00:00  142.95  144.1  142.25  143.75
36397  2024-10-08 22:00:00  143.75  144.5  143.35  144.50
36398  2024-10-08 23:00:00  144.50  144.7  144.05  144.25
36399  2024-10-09 00:00:00  144.25  144.3  143.55  143.80

[3639 rows x 5 columns]

In [62]:
df_valitest = pd.concat([df_vali, df_test], axis=0)

Numero de horas que se utilizan en la predicciÃ³n

In [63]:
numhorasconst = 4

# PredicciÃ³n Utilizando XGBoost

In [64]:
def create_df_n(df, n):
    df_aux = df.copy()
    for i in range(1, n):
        df_aux['open_before' + str(i)] = df_aux['open'].shift(+i)
        df_aux['high_before' + str(i)] = df_aux['high'].shift(+i)
        df_aux['low_before' + str(i)] = df_aux['low'].shift(+i)
        df_aux['close_before' + str(i)] = df_aux['close'].shift(+i)
    df_aux['close_next'] = df_aux['close'].shift(-1)
    df_aux = df_aux.dropna()
    return df_aux

Ponemos los datos en el formato correcto

In [65]:
df_xgb = create_df_n(df, 1)

In [66]:
tamanio_xgb = df_xgb.shape[0]
tamanio_xgb

36399

In [67]:
def createdftrain(df_aux):
    tamanio_aux = df_aux.shape[0]
    return df_aux.copy().iloc[0:int(tamanio_aux*0.7)]

In [68]:
def createdfvali(df_aux):
    tamanio_aux = df_aux.shape[0]
    return df_aux.copy().iloc[int(tamanio_aux*0.7 + 1):int(tamanio_aux*0.9)]

In [69]:
def createdftest(df_aux):
    tamanio_aux = df_aux.shape[0]
    return df_aux.copy().iloc[int(tamanio_aux*0.9 + 1):tamanio_aux]

In [70]:
def preparar_datosXGBoost(df_aux):
    X = df_aux.drop(['date', 'close_next'], axis=1)
    #X = df_aux[['open', 'high', 'low', 'close', 'open_before1', 'high_before1', 'low_before1', 'close_before1']] 
    y = df_aux['close_next']
    return (xgb.DMatrix(data=X, label=y), y)

In [71]:
df_train_xgb = createdftrain(df_xgb)
df_train_xgb

                      date   open   high    low  close  close_next
0      2020-08-12 03:00:00   3.10   3.35   3.10   3.25        3.15
1      2020-08-12 04:00:00   3.25   3.25   3.15   3.15        3.30
2      2020-08-12 05:00:00   3.15   3.30   3.15   3.30        3.30
3      2020-08-12 06:00:00   3.30   3.30   3.15   3.30        3.25
4      2020-08-12 07:00:00   3.25   3.25   3.20   3.25        3.25
...                    ...    ...    ...    ...    ...         ...
25474  2023-07-11 19:00:00  22.10  22.20  22.00  22.10       22.00
25475  2023-07-11 20:00:00  22.10  22.10  21.95  22.00       22.00
25476  2023-07-11 21:00:00  22.00  22.05  21.90  22.00       22.00
25477  2023-07-11 22:00:00  22.00  22.10  21.90  22.00       21.95
25478  2023-07-11 23:00:00  22.00  22.05  21.75  21.95       22.05

[25479 rows x 6 columns]

In [72]:
df_vali_xgb = createdfvali(df_xgb)
df_vali_xgb

                      date    open    high     low   close  close_next
25480  2023-07-12 01:00:00   22.05   22.15   22.00   22.10       22.15
25481  2023-07-12 02:00:00   22.10   22.30   22.05   22.15       22.10
25482  2023-07-12 03:00:00   22.15   22.25   22.10   22.10       22.00
25483  2023-07-12 04:00:00   22.10   22.10   22.00   22.00       21.95
25484  2023-07-12 05:00:00   22.00   22.00   21.90   21.95       22.00
...                    ...     ...     ...     ...     ...         ...
32754  2024-05-10 03:00:00  152.05  155.00  151.45  153.40      153.65
32755  2024-05-10 04:00:00  153.40  153.80  152.70  153.65      153.95
32756  2024-05-10 05:00:00  153.65  154.35  152.85  153.95      153.75
32757  2024-05-10 06:00:00  153.95  154.70  153.45  153.75      153.30
32758  2024-05-10 07:00:00  153.75  154.10  152.30  153.30      154.95

[7279 rows x 6 columns]

In [73]:
df_test_xgb = createdftest(df_xgb)
df_test_xgb

                      date    open    high     low   close  close_next
32760  2024-05-10 09:00:00  154.95  155.75  154.25  154.35      154.10
32761  2024-05-10 10:00:00  154.35  154.50  153.45  154.10      154.15
32762  2024-05-10 11:00:00  154.10  154.80  153.25  154.15      154.15
32763  2024-05-10 12:00:00  154.15  154.30  153.25  154.15      155.05
32764  2024-05-10 13:00:00  154.15  155.20  153.00  155.05      153.30
...                    ...     ...     ...     ...     ...         ...
36394  2024-10-08 19:00:00  143.80  143.95  142.40  143.35      142.95
36395  2024-10-08 20:00:00  143.35  143.90  142.35  142.95      143.75
36396  2024-10-08 21:00:00  142.95  144.10  142.25  143.75      144.50
36397  2024-10-08 22:00:00  143.75  144.50  143.35  144.50      144.25
36398  2024-10-08 23:00:00  144.50  144.70  144.05  144.25      143.80

[3639 rows x 6 columns]

In [74]:
df_valitest_xgb = pd.concat([df_vali_xgb, df_test_xgb], ignore_index=True)

In [75]:
XvtXGB = df_valitest_xgb[['open', 'high', 'low', 'close']] 
yvtXGB = df_valitest_xgb['close_next']

In [76]:
dtrainvali = xgb.DMatrix(data=XvtXGB, label=yvtXGB)

Definimos las caracterÃ­sticas para el entrenamiento

ComprobaciÃ³n de la tasa de error en los datos de test

In [77]:
def evalXGB(Test_xgb, predict_xgb_test):
    suma = 0
    n = len(Test_xgb)
    for i in range(0,n):
        suma = abs(predict_xgb_test[i] - Test_xgb[i])/Test_xgb[i] +  suma
    error_medio = suma/n
    emp = error_medio*100 # error medio en porcentaje
    return emp

In [78]:
def train_XGB_depth(d_array, dtrainf, dvalif, dtestf, ytest):
    resultados = []
    best = 100
    best_depth = 0
    for i in d_array:
        etaAux = [0.3 , 0.1, 0.01]
        for e in etaAux:
            param = {'max_depth': i, 'eta': e, 'objective': 'reg:squarederror'}
            evals = [(dtrainf, 'train'), (dvalif, 'validacion')]
            esr = int(1//e)
            if(esr < 10):
                esr = 10
            bstaux = xgb.train(param, dtrainf, num_boost_round=int(100//e), evals=evals, early_stopping_rounds=esr, verbose_eval=100)
            predict_xgb_test = bstaux.predict(dtestf)
            valor = evalXGB(ytest, predict_xgb_test)
            resultados.append({'max_depth': i, 'eta': param['eta'], 'valor': valor})
            if(valor < best):
                best = valor
                best_depth = i
                if best < 0.75:
                    cadena = "Modelos/modelo_xgbNOIMC_v.json" + str(valor)+ "_d" + str(i) + "_eta" + str(param.get("eta")) + ".json"
                    bstaux.save_model(cadena) 
    return (best_depth, best, resultados)

In [79]:
def trainGlobalXGB(d_array, h_array):
    best = 100
    best_depth = 0
    for i in h_array:
        df_aux = create_df_n(df, i)
        dtrain_aux = createdftrain(df_aux)
        dvali_aux = createdfvali(df_aux)
        dtest_aux = createdftest(df_aux)
        dtrain_prep = preparar_datosXGBoost(dtrain_aux)
        dvali_prep = preparar_datosXGBoost(dvali_aux)
        dtest_prep = preparar_datosXGBoost(dtest_aux)
        values = train_XGB_depth(d_array, dtrain_prep[0], dvali_prep[0], dtest_prep[0], dtest_prep[1].values)
        print(str(i)+" "+str(values[0])+" "+str(values))
        df_resultados = pd.DataFrame(values[2])
        cadena = "Dataframes/resultados_xgboostNOIMC_h" + str(i) + ".csv"
        df_resultados.to_csv(cadena, index=False)
        with open('OptimizaciÃ³nXGBoostIMC.txt', 'a') as archivo:
            archivo.write("Numero de horas: "+str(i)+" Profundidad: "+str(values[0])+" Valor de emp obtenido: "+str(values[1]) + "\n")
        if(values[1] < best):
            best = values[1]
            best_depth = values[0]
    return best, best_depth

In [ ]:
data = trainGlobalXGB([1,2,3,4,5,6,7,8,9,10,15,20,30,40,50,75,100], [7,8,9,10,14,18,20,30,40,50,75,100])