In [79]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import xgboost as xgb

In [80]:
df = pd.read_csv('SolAtasIMC_tratado.csv')
df.head()

                  date  open  high   low  close  value
0  2020-08-12 03:00:00  3.10  3.35  3.10   3.25     75
1  2020-08-12 04:00:00  3.25  3.25  3.15   3.15     75
2  2020-08-12 05:00:00  3.15  3.30  3.15   3.30     75
3  2020-08-12 06:00:00  3.30  3.30  3.15   3.30     75
4  2020-08-12 07:00:00  3.25  3.25  3.20   3.25     75

In [81]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36400 entries, 0 to 36399
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    36400 non-null  object
 1   open    36400 non-null  float64
 2   high    36400 non-null  float64
 3   low     36400 non-null  float64
 4   close   36400 non-null  float64
 5   value   36400 non-null  int64
dtypes: float64(4), int64(1), object(1)
memory usage: 1.7+ MB
None

# Preprocesado de Datos

In [82]:
tamanio = df.shape[0]

In [83]:
df_train = df.copy().loc[0:int(tamanio*0.7)]
df_train

                      date   open   high    low  close  value
0      2020-08-12 03:00:00   3.10   3.35   3.10   3.25     75
1      2020-08-12 04:00:00   3.25   3.25   3.15   3.15     75
2      2020-08-12 05:00:00   3.15   3.30   3.15   3.30     75
3      2020-08-12 06:00:00   3.30   3.30   3.15   3.30     75
4      2020-08-12 07:00:00   3.25   3.25   3.20   3.25     75
...                    ...    ...    ...    ...    ...    ...
25476  2023-07-11 21:00:00  22.00  22.05  21.90  22.00     57
25477  2023-07-11 22:00:00  22.00  22.10  21.90  22.00     57
25478  2023-07-11 23:00:00  22.00  22.05  21.75  21.95     57
25479  2023-07-12 00:00:00  21.95  22.10  21.90  22.05     64
25480  2023-07-12 01:00:00  22.05  22.15  22.00  22.10     64

[25481 rows x 6 columns]

In [84]:
df_vali = df.copy().loc[int(tamanio*0.7 + 1):int(tamanio*0.9)]
df_vali

                      date    open    high     low   close  value
25481  2023-07-12 02:00:00   22.10   22.30   22.05   22.15     64
25482  2023-07-12 03:00:00   22.15   22.25   22.10   22.10     64
25483  2023-07-12 04:00:00   22.10   22.10   22.00   22.00     64
25484  2023-07-12 05:00:00   22.00   22.00   21.90   21.95     64
25485  2023-07-12 06:00:00   21.95   22.05   21.90   22.00     64
...                    ...     ...     ...     ...     ...    ...
32756  2024-05-10 05:00:00  153.65  154.35  152.85  153.95     66
32757  2024-05-10 06:00:00  153.95  154.70  153.45  153.75     66
32758  2024-05-10 07:00:00  153.75  154.10  152.30  153.30     66
32759  2024-05-10 08:00:00  153.30  155.10  153.15  154.95     66
32760  2024-05-10 09:00:00  154.95  155.75  154.25  154.35     66

[7280 rows x 6 columns]

In [85]:
df_test = df.copy().loc[int(tamanio*0.9 + 1):tamanio]
df_test

                      date    open   high     low   close  value
32761  2024-05-10 10:00:00  154.35  154.5  153.45  154.10     66
32762  2024-05-10 11:00:00  154.10  154.8  153.25  154.15     66
32763  2024-05-10 12:00:00  154.15  154.3  153.25  154.15     66
32764  2024-05-10 13:00:00  154.15  155.2  153.00  155.05     66
32765  2024-05-10 14:00:00  155.05  155.4  153.10  153.30     66
...                    ...     ...    ...     ...     ...    ...
36395  2024-10-08 20:00:00  143.35  143.9  142.35  142.95     49
36396  2024-10-08 21:00:00  142.95  144.1  142.25  143.75     49
36397  2024-10-08 22:00:00  143.75  144.5  143.35  144.50     49
36398  2024-10-08 23:00:00  144.50  144.7  144.05  144.25     49
36399  2024-10-09 00:00:00  144.25  144.3  143.55  143.80     49

[3639 rows x 6 columns]

In [86]:
df_valitest = pd.concat([df_vali, df_test], axis=0)

Numero de horas que se utilizan en la predicción

In [87]:
numhorasconst = 4

# Predicción Utilizando XGBoost

In [88]:
def create_df_n(df, n):
    df_aux = df.copy()
    for i in range(1, n):
        df_aux['open_before' + str(i)] = df_aux['open'].shift(+i)
        df_aux['high_before' + str(i)] = df_aux['high'].shift(+i)
        df_aux['low_before' + str(i)] = df_aux['low'].shift(+i)
        df_aux['close_before' + str(i)] = df_aux['close'].shift(+i)
        df_aux['value_before' + str(i)] = df_aux['value'].shift(+i)
    df_aux['close_next'] = df_aux['close'].shift(-1)
    df_aux = df_aux.dropna()
    return df_aux

Ponemos los datos en el formato correcto

In [89]:
df_xgb = create_df_n(df, 1)

In [90]:
tamanio_xgb = df_xgb.shape[0]
tamanio_xgb

36399

In [91]:
def createdftrain(df_aux):
    tamanio_aux = df_aux.shape[0]
    return df_aux.copy().iloc[0:int(tamanio_aux*0.7)]

In [92]:
def createdfvali(df_aux):
    tamanio_aux = df_aux.shape[0]
    return df_aux.copy().iloc[int(tamanio_aux*0.7 + 1):int(tamanio_aux*0.9)]

In [93]:
def createdftest(df_aux):
    tamanio_aux = df_aux.shape[0]
    return df_aux.copy().iloc[int(tamanio_aux*0.9 + 1):tamanio_aux]

In [94]:
def preparar_datosXGBoost(df_aux):
    X = df_aux.drop(['date', 'close_next'], axis=1)
    #X = df_aux[['open', 'high', 'low', 'close', 'open_before1', 'high_before1', 'low_before1', 'close_before1']] 
    y = df_aux['close_next']
    return (xgb.DMatrix(data=X, label=y), y)

In [95]:
df_train_xgb = createdftrain(df_xgb)
df_train_xgb

                      date   open   high    low  close  value  close_next
0      2020-08-12 03:00:00   3.10   3.35   3.10   3.25     75        3.15
1      2020-08-12 04:00:00   3.25   3.25   3.15   3.15     75        3.30
2      2020-08-12 05:00:00   3.15   3.30   3.15   3.30     75        3.30
3      2020-08-12 06:00:00   3.30   3.30   3.15   3.30     75        3.25
4      2020-08-12 07:00:00   3.25   3.25   3.20   3.25     75        3.25
...                    ...    ...    ...    ...    ...    ...         ...
25474  2023-07-11 19:00:00  22.10  22.20  22.00  22.10     57       22.00
25475  2023-07-11 20:00:00  22.10  22.10  21.95  22.00     57       22.00
25476  2023-07-11 21:00:00  22.00  22.05  21.90  22.00     57       22.00
25477  2023-07-11 22:00:00  22.00  22.10  21.90  22.00     57       21.95
25478  2023-07-11 23:00:00  22.00  22.05  21.75  21.95     57       22.05

[25479 rows x 7 columns]

In [96]:
df_vali_xgb = createdfvali(df_xgb)
df_vali_xgb

                      date    open    high     low   close  value  close_next
25480  2023-07-12 01:00:00   22.05   22.15   22.00   22.10     64       22.15
25481  2023-07-12 02:00:00   22.10   22.30   22.05   22.15     64       22.10
25482  2023-07-12 03:00:00   22.15   22.25   22.10   22.10     64       22.00
25483  2023-07-12 04:00:00   22.10   22.10   22.00   22.00     64       21.95
25484  2023-07-12 05:00:00   22.00   22.00   21.90   21.95     64       22.00
...                    ...     ...     ...     ...     ...    ...         ...
32754  2024-05-10 03:00:00  152.05  155.00  151.45  153.40     66      153.65
32755  2024-05-10 04:00:00  153.40  153.80  152.70  153.65     66      153.95
32756  2024-05-10 05:00:00  153.65  154.35  152.85  153.95     66      153.75
32757  2024-05-10 06:00:00  153.95  154.70  153.45  153.75     66      153.30
32758  2024-05-10 07:00:00  153.75  154.10  152.30  153.30     66      154.95

[7279 rows x 7 columns]

In [97]:
df_test_xgb = createdftest(df_xgb)
df_test_xgb

                      date    open    high     low   close  value  close_next
32760  2024-05-10 09:00:00  154.95  155.75  154.25  154.35     66      154.10
32761  2024-05-10 10:00:00  154.35  154.50  153.45  154.10     66      154.15
32762  2024-05-10 11:00:00  154.10  154.80  153.25  154.15     66      154.15
32763  2024-05-10 12:00:00  154.15  154.30  153.25  154.15     66      155.05
32764  2024-05-10 13:00:00  154.15  155.20  153.00  155.05     66      153.30
...                    ...     ...     ...     ...     ...    ...         ...
36394  2024-10-08 19:00:00  143.80  143.95  142.40  143.35     49      142.95
36395  2024-10-08 20:00:00  143.35  143.90  142.35  142.95     49      143.75
36396  2024-10-08 21:00:00  142.95  144.10  142.25  143.75     49      144.50
36397  2024-10-08 22:00:00  143.75  144.50  143.35  144.50     49      144.25
36398  2024-10-08 23:00:00  144.50  144.70  144.05  144.25     49      143.80

[3639 rows x 7 columns]

In [98]:
df_valitest_xgb = pd.concat([df_vali_xgb, df_test_xgb], ignore_index=True)

In [99]:
XvtXGB = df_valitest_xgb[['open', 'high', 'low', 'close', 'value']] 
yvtXGB = df_valitest_xgb['close_next']

In [100]:
dtrainvali = xgb.DMatrix(data=XvtXGB, label=yvtXGB)

Definimos las características para el entrenamiento

Comprobación de la tasa de error en los datos de test

In [101]:
def evalXGB(Test_xgb, predict_xgb_test):
    suma = 0
    n = len(Test_xgb)
    for i in range(0,n):
        suma = abs(predict_xgb_test[i] - Test_xgb[i])/Test_xgb[i] +  suma
    error_medio = suma/n
    emp = error_medio*100 # error medio en porcentaje
    return emp

In [102]:
def train_XGB_depth(maxdepthmin, maxdepthmax, dtrainf, dvalif, dtestf, ytest):
    resultados = []
    best = 100
    best_depth = 0
    for i in range(maxdepthmin, maxdepthmax):
        param = {'max_depth': i, 'eta': 0.1, 'objective': 'reg:squarederror'}
        evals = [(dtrainf, 'train'), (dvalif, 'validacion')]
        bstaux = xgb.train(param, dtrainf, num_boost_round=1000, evals=evals, early_stopping_rounds=10, verbose_eval=10)
        predict_xgb_test = bstaux.predict(dtestf)
        valor = evalXGB(ytest, predict_xgb_test)
        cadena = "Modelos/modelo_xgb_v.json" + str(valor)+ "_d" + str(i) + "_eta" + str(param.get("eta")) + ".json"
        bstaux.save_model(cadena) 
        resultados.append({'max_depth': i, 'eta': param['eta'], 'valor': valor})
        if(valor < best):
            best = valor
            best_depth = i
    return (best_depth, best, resultados)

In [103]:
def trainGlobalXGB(inid, find, inih, finh):
    best = 100
    best_depth = 0
    for i in range(inih, finh):
        df_aux = create_df_n(df, i)
        dtrain_aux = createdftrain(df_aux)
        dvali_aux = createdfvali(df_aux)
        dtest_aux = createdftest(df_aux)
        dtrain_prep = preparar_datosXGBoost(dtrain_aux)
        dvali_prep = preparar_datosXGBoost(dvali_aux)
        dtest_prep = preparar_datosXGBoost(dtest_aux)
        values = train_XGB_depth(inid, find, dtrain_prep[0], dvali_prep[0], dtest_prep[0], dtest_prep[1].values)
        print(str(i)+" "+str(values[0])+" "+str(values))
        df_resultados = pd.DataFrame(values[2])
        cadena = "Dataframes/resultados_xgboost_h" + str(i) + ".csv"
        df_resultados.to_csv(cadena, index=False)
        with open('OptimizaciónXGBoostIMC.txt', 'a') as archivo:
            archivo.write("Número de horas: "+str(i)+" Profundidad: "+str(values[0])+" Valor de emp obtenido: "+str(values[1]) + "\n")
        if(values[1] < best):
            best = values[1]
            best_depth = values[0]
    return best, best_depth

In [ ]:
data = trainGlobalXGB(1, 151, 1, 169)

[0]	train-rmse:53.27032	validacion-rmse:55.23101
[10]	train-rmse:26.63456	validacion-rmse:21.66451
[20]	train-rmse:15.80969	validacion-rmse:9.74188
[30]	train-rmse:10.10780	validacion-rmse:6.02804
[40]	train-rmse:6.72884	validacion-rmse:4.32847
[50]	train-rmse:4.62899	validacion-rmse:3.40634
[60]	train-rmse:3.34703	validacion-rmse:2.84333
[70]	train-rmse:2.60043	validacion-rmse:2.59538
[80]	train-rmse:2.18532	validacion-rmse:2.50216
[90]	train-rmse:1.96380	validacion-rmse:2.44815
[100]	train-rmse:1.84541	validacion-rmse:2.42618
[110]	train-rmse:1.78429	validacion-rmse:2.41209
[120]	train-rmse:1.75331	validacion-rmse:2.40979
[130]	train-rmse:1.73741	validacion-rmse:2.40922
[140]	train-rmse:1.72917	validacion-rmse:2.40845
[150]	train-rmse:1.72466	validacion-rmse:2.40665
[160]	train-rmse:1.72175	validacion-rmse:2.40448
[170]	train-rmse:1.71906	validacion-rmse:2.39564
[180]	train-rmse:1.71645	validacion-rmse:2.38706
[190]	train-rmse:1.71393	validacion-rmse:2.37956
[200]	train-rmse:1.71149	validacion-rmse:2.37306
[210]	train-rmse:1.70911	validacion-rmse:2.36517
[220]	train-rmse:1.70682	validacion-rmse:2.35886
[230]	train-rmse:1.70458	validacion-rmse:2.35145
[240]	train-rmse:1.70242	validacion-rmse:2.34428
[250]	train-rmse:1.70032	validacion-rmse:2.33881
[260]	train-rmse:1.69830	validacion-rmse:2.33275
[270]	train-rmse:1.69632	validacion-rmse:2.32616
[280]	train-rmse:1.69440	validacion-rmse:2.32040
[290]	train-rmse:1.69254	validacion-rmse:2.31577
[300]	train-rmse:1.69071	validacion-rmse:2.31031
[310]	train-rmse:1.68894	validacion-rmse:2.30614
[320]	train-rmse:1.68719	validacion-rmse:2.30249
[330]	train-rmse:1.68545	validacion-rmse:2.30056
[340]	train-rmse:1.68374	validacion-rmse:2.29814
[350]	train-rmse:1.68205	validacion-rmse:2.29514
[360]	train-rmse:1.68037	validacion-rmse:2.29123
[370]	train-rmse:1.67872	validacion-rmse:2.28909
[380]	train-rmse:1.67709	validacion-rmse:2.28827
[390]	train-rmse:1.67547	validacion-rmse:2.28491
[400]	train-rmse:1.67387	validacion-rmse:2.28156
[410]	train-rmse:1.67228	validacion-rmse:2.27981
[420]	train-rmse:1.67072	validacion-rmse:2.27758
[430]	train-rmse:1.66917	validacion-rmse:2.27436
[440]	train-rmse:1.66764	validacion-rmse:2.27125
[450]	train-rmse:1.66612	validacion-rmse:2.26918
[460]	train-rmse:1.66462	validacion-rmse:2.26705
[470]	train-rmse:1.66313	validacion-rmse:2.26497
[480]	train-rmse:1.66166	validacion-rmse:2.26287
[490]	train-rmse:1.66021	validacion-rmse:2.25984
[500]	train-rmse:1.65876	validacion-rmse:2.25779
[510]	train-rmse:1.65734	validacion-rmse:2.25575
[520]	train-rmse:1.65593	validacion-rmse:2.25374
[530]	train-rmse:1.65453	validacion-rmse:2.25083
[540]	train-rmse:1.65315	validacion-rmse:2.24885
[550]	train-rmse:1.65178	validacion-rmse:2.24697
[560]	train-rmse:1.65043	validacion-rmse:2.24503
[570]	train-rmse:1.64909	validacion-rmse:2.24313
[580]	train-rmse:1.64776	validacion-rmse:2.24044
[590]	train-rmse:1.64645	validacion-rmse:2.23851
[600]	train-rmse:1.64515	validacion-rmse:2.23664
[610]	train-rmse:1.64387	validacion-rmse:2.23406
[620]	train-rmse:1.64260	validacion-rmse:2.23223
[630]	train-rmse:1.64134	validacion-rmse:2.22963
[640]	train-rmse:1.64009	validacion-rmse:2.22785
[650]	train-rmse:1.63886	validacion-rmse:2.22611
[660]	train-rmse:1.63764	validacion-rmse:2.22367
[670]	train-rmse:1.63643	validacion-rmse:2.22157
[680]	train-rmse:1.63524	validacion-rmse:2.22059
[690]	train-rmse:1.63405	validacion-rmse:2.21815
[700]	train-rmse:1.63287	validacion-rmse:2.21650
[710]	train-rmse:1.63170	validacion-rmse:2.21410
[720]	train-rmse:1.63054	validacion-rmse:2.21183
[730]	train-rmse:1.62940	validacion-rmse:2.20948
[740]	train-rmse:1.62826	validacion-rmse:2.20743
[750]	train-rmse:1.62714	validacion-rmse:2.20585
[760]	train-rmse:1.62602	validacion-rmse:2.20356
[770]	train-rmse:1.62492	validacion-rmse:2.20202
[780]	train-rmse:1.62382	validacion-rmse:2.19976
[790]	train-rmse:1.62274	validacion-rmse:2.19824
[800]	train-rmse:1.62167	validacion-rmse:2.19614
[810]	train-rmse:1.62060	validacion-rmse:2.19462
[820]	train-rmse:1.61954	validacion-rmse:2.19247
[830]	train-rmse:1.61850	validacion-rmse:2.19098
[840]	train-rmse:1.61746	validacion-rmse:2.18886
[850]	train-rmse:1.61644	validacion-rmse:2.18749
[860]	train-rmse:1.61543	validacion-rmse:2.18522
[870]	train-rmse:1.61442	validacion-rmse:2.18316
[880]	train-rmse:1.61342	validacion-rmse:2.18117
[890]	train-rmse:1.61243	validacion-rmse:2.17914
[900]	train-rmse:1.61144	validacion-rmse:2.17862
[910]	train-rmse:1.61046	validacion-rmse:2.17693
[920]	train-rmse:1.60950	validacion-rmse:2.17525
[930]	train-rmse:1.60854	validacion-rmse:2.17328
[940]	train-rmse:1.60760	validacion-rmse:2.17134
[950]	train-rmse:1.60666	validacion-rmse:2.16967
[960]	train-rmse:1.60573	validacion-rmse:2.16865
[970]	train-rmse:1.60480	validacion-rmse:2.16676
[980]	train-rmse:1.60389	validacion-rmse:2.16475
[990]	train-rmse:1.60298	validacion-rmse:2.16290
[999]	train-rmse:1.60218	validacion-rmse:2.16158
[0]	train-rmse:52.39113	validacion-rmse:55.17099
[10]	train-rmse:20.23823	validacion-rmse:19.20723
[20]	train-rmse:8.13866	validacion-rmse:7.28043
[30]	train-rmse:3.55051	validacion-rmse:3.21580
[40]	train-rmse:1.94400	validacion-rmse:2.05425
[50]	train-rmse:1.48652	validacion-rmse:1.82250
[60]	train-rmse:1.38287	validacion-rmse:1.77975
[70]	train-rmse:1.35664	validacion-rmse:1.76727
[80]	train-rmse:1.34589	validacion-rmse:1.75817
[90]	train-rmse:1.33691	validacion-rmse:1.75212
[100]	train-rmse:1.32808	validacion-rmse:1.74174
[107]	train-rmse:1.32611	validacion-rmse:1.74174
[0]	train-rmse:52.10393	validacion-rmse:55.24428
[10]	train-rmse:18.57827	validacion-rmse:19.24358
[20]	train-rmse:6.73586	validacion-rmse:6.84896
[30]	train-rmse:2.66095	validacion-rmse:2.81242
[40]	train-rmse:1.45759	validacion-rmse:1.74925
[50]	train-rmse:1.21432	validacion-rmse:1.55796
[60]	train-rmse:1.17246	validacion-rmse:1.52808
[70]	train-rmse:1.16122	validacion-rmse:1.52967
[77]	train-rmse:1.15678	validacion-rmse:1.53059
[0]	train-rmse:52.04360	validacion-rmse:55.17062
[10]	train-rmse:18.28943	validacion-rmse:19.33731
[20]	train-rmse:6.50931	validacion-rmse:6.91388
[30]	train-rmse:2.52194	validacion-rmse:2.79809
[40]	train-rmse:1.38053	validacion-rmse:1.69863
[50]	train-rmse:1.15490	validacion-rmse:1.51451
[60]	train-rmse:1.11624	validacion-rmse:1.51307
[63]	train-rmse:1.11310	validacion-rmse:1.51879
1 4 (4, 0.7765252835737217, [{'max_depth': 1, 'eta': 0.1, 'valor': 1.3471884405031773}, {'max_depth': 2, 'eta': 0.1, 'valor': 1.0513944667373158}, {'max_depth': 3, 'eta': 0.1, 'valor': 0.8506794871385982}, {'max_depth': 4, 'eta': 0.1, 'valor': 0.7765252835737217}])
[0]	train-rmse:53.27065	validacion-rmse:55.23027
[10]	train-rmse:26.63464	validacion-rmse:21.66632
[20]	train-rmse:15.80976	validacion-rmse:9.74443
[30]	train-rmse:10.10788	validacion-rmse:6.03012
[40]	train-rmse:6.72903	validacion-rmse:4.33075
[50]	train-rmse:4.62918	validacion-rmse:3.40802
[60]	train-rmse:3.34711	validacion-rmse:2.84474
[70]	train-rmse:2.60036	validacion-rmse:2.59630
[80]	train-rmse:2.18564	validacion-rmse:2.48018
[90]	train-rmse:1.96323	validacion-rmse:2.45118
[100]	train-rmse:1.84510	validacion-rmse:2.42243
[110]	train-rmse:1.78409	validacion-rmse:2.41388
[120]	train-rmse:1.75291	validacion-rmse:2.40979
[130]	train-rmse:1.73707	validacion-rmse:2.40814
[140]	train-rmse:1.72887	validacion-rmse:2.40856
[150]	train-rmse:1.72427	validacion-rmse:2.40786
[160]	train-rmse:1.72132	validacion-rmse:2.40409
[170]	train-rmse:1.71863	validacion-rmse:2.39527
[180]	train-rmse:1.71604	validacion-rmse:2.38748
[190]	train-rmse:1.71351	validacion-rmse:2.38078
[200]	train-rmse:1.71105	validacion-rmse:2.37345
[210]	train-rmse:1.70867	validacion-rmse:2.36557
[220]	train-rmse:1.70637	validacion-rmse:2.35865
[230]	train-rmse:1.70414	validacion-rmse:2.35124
[240]	train-rmse:1.70197	validacion-rmse:2.34564
[250]	train-rmse:1.69987	validacion-rmse:2.33863
[260]	train-rmse:1.69784	validacion-rmse:2.33186
[270]	train-rmse:1.69587	validacion-rmse:2.32596
[280]	train-rmse:1.69396	validacion-rmse:2.32154
[290]	train-rmse:1.69208	validacion-rmse:2.31592
[300]	train-rmse:1.69025	validacion-rmse:2.30987
[310]	train-rmse:1.68848	validacion-rmse:2.30569
[320]	train-rmse:1.68673	validacion-rmse:2.30229
[330]	train-rmse:1.68499	validacion-rmse:2.29882
[340]	train-rmse:1.68327	validacion-rmse:2.29683
[350]	train-rmse:1.68158	validacion-rmse:2.29444
[360]	train-rmse:1.67990	validacion-rmse:2.29096
[370]	train-rmse:1.67824	validacion-rmse:2.28764
[380]	train-rmse:1.67660	validacion-rmse:2.28681
[390]	train-rmse:1.67498	validacion-rmse:2.28361
[400]	train-rmse:1.67337	validacion-rmse:2.28133
[410]	train-rmse:1.67179	validacion-rmse:2.27804
[420]	train-rmse:1.67022	validacion-rmse:2.27530
[430]	train-rmse:1.66866	validacion-rmse:2.27410
[440]	train-rmse:1.66713	validacion-rmse:2.27093
[450]	train-rmse:1.66561	validacion-rmse:2.26880
[460]	train-rmse:1.66410	validacion-rmse:2.26570
[470]	train-rmse:1.66261	validacion-rmse:2.26358
[480]	train-rmse:1.66114	validacion-rmse:2.26165
[490]	train-rmse:1.65968	validacion-rmse:2.25905
[500]	train-rmse:1.65823	validacion-rmse:2.25702
[510]	train-rmse:1.65680	validacion-rmse:2.25497
[520]	train-rmse:1.65539	validacion-rmse:2.25205
[530]	train-rmse:1.65398	validacion-rmse:2.25062
[540]	train-rmse:1.65260	validacion-rmse:2.24819
[550]	train-rmse:1.65122	validacion-rmse:2.24674
[560]	train-rmse:1.64986	validacion-rmse:2.24403
[570]	train-rmse:1.64851	validacion-rmse:2.24214
[580]	train-rmse:1.64718	validacion-rmse:2.24017
[590]	train-rmse:1.64586	validacion-rmse:2.23753
[600]	train-rmse:1.64455	validacion-rmse:2.23569
[610]	train-rmse:1.64326	validacion-rmse:2.23302
[620]	train-rmse:1.64198	validacion-rmse:2.23125
[630]	train-rmse:1.64072	validacion-rmse:2.22945
[640]	train-rmse:1.63946	validacion-rmse:2.22698
[650]	train-rmse:1.63822	validacion-rmse:2.22522
[660]	train-rmse:1.63699	validacion-rmse:2.22306
[670]	train-rmse:1.63578	validacion-rmse:2.22097
[680]	train-rmse:1.63457	validacion-rmse:2.22033
[690]	train-rmse:1.63338	validacion-rmse:2.21789
[700]	train-rmse:1.63220	validacion-rmse:2.21619
[710]	train-rmse:1.63103	validacion-rmse:2.21381
[720]	train-rmse:1.62987	validacion-rmse:2.21234
[730]	train-rmse:1.62872	validacion-rmse:2.21001
[740]	train-rmse:1.62758	validacion-rmse:2.20767
[750]	train-rmse:1.62645	validacion-rmse:2.20538
[760]	train-rmse:1.62532	validacion-rmse:2.20415
[770]	train-rmse:1.62422	validacion-rmse:2.20250
[780]	train-rmse:1.62312	validacion-rmse:2.20096
[790]	train-rmse:1.62203	validacion-rmse:2.19872
[800]	train-rmse:1.62095	validacion-rmse:2.19659
[810]	train-rmse:1.61988	validacion-rmse:2.19487
[820]	train-rmse:1.61882	validacion-rmse:2.19337
[830]	train-rmse:1.61777	validacion-rmse:2.19190
[840]	train-rmse:1.61672	validacion-rmse:2.19003
[850]	train-rmse:1.61569	validacion-rmse:2.18799
[860]	train-rmse:1.61466	validacion-rmse:2.18588
[870]	train-rmse:1.61365	validacion-rmse:2.18392
[880]	train-rmse:1.61264	validacion-rmse:2.18244
[890]	train-rmse:1.61165	validacion-rmse:2.18133
[900]	train-rmse:1.61066	validacion-rmse:2.17963
[910]	train-rmse:1.60968	validacion-rmse:2.17791
[920]	train-rmse:1.60871	validacion-rmse:2.17596
[930]	train-rmse:1.60775	validacion-rmse:2.17397
[940]	train-rmse:1.60679	validacion-rmse:2.17202
[950]	train-rmse:1.60585	validacion-rmse:2.17096
[960]	train-rmse:1.60492	validacion-rmse:2.16956
[970]	train-rmse:1.60399	validacion-rmse:2.16778
[980]	train-rmse:1.60307	validacion-rmse:2.16646
[990]	train-rmse:1.60216	validacion-rmse:2.16409
[999]	train-rmse:1.60134	validacion-rmse:2.16304
[0]	train-rmse:52.39147	validacion-rmse:55.17301
[10]	train-rmse:20.23843	validacion-rmse:19.21227
[20]	train-rmse:8.13839	validacion-rmse:7.29007
[30]	train-rmse:3.54809	validacion-rmse:3.23743
[40]	train-rmse:1.94161	validacion-rmse:2.07402
[50]	train-rmse:1.48367	validacion-rmse:1.82887
[60]	train-rmse:1.38108	validacion-rmse:1.78632
[70]	train-rmse:1.35665	validacion-rmse:1.77419
[80]	train-rmse:1.34378	validacion-rmse:1.76390
[90]	train-rmse:1.33571	validacion-rmse:1.75862
[100]	train-rmse:1.32635	validacion-rmse:1.74775
[110]	train-rmse:1.31527	validacion-rmse:1.73500
[120]	train-rmse:1.31265	validacion-rmse:1.73322
[130]	train-rmse:1.30550	validacion-rmse:1.72554
[140]	train-rmse:1.29273	validacion-rmse:1.71026
[150]	train-rmse:1.28551	validacion-rmse:1.70766
[160]	train-rmse:1.28360	validacion-rmse:1.70655
[165]	train-rmse:1.28289	validacion-rmse:1.70670
[0]	train-rmse:52.10423	validacion-rmse:55.24459
[10]	train-rmse:18.58618	validacion-rmse:19.30886
[20]	train-rmse:6.74083	validacion-rmse:6.90820
[30]	train-rmse:2.65936	validacion-rmse:2.81324
[40]	train-rmse:1.45295	validacion-rmse:1.75311
[50]	train-rmse:1.20836	validacion-rmse:1.56142
[60]	train-rmse:1.16625	validacion-rmse:1.53070
[70]	train-rmse:1.15300	validacion-rmse:1.52893
[76]	train-rmse:1.14955	validacion-rmse:1.53043
[0]	train-rmse:52.04391	validacion-rmse:55.17057
[10]	train-rmse:18.29050	validacion-rmse:19.35150
[20]	train-rmse:6.50777	validacion-rmse:6.91892
[30]	train-rmse:2.51845	validacion-rmse:2.80506
[40]	train-rmse:1.37379	validacion-rmse:1.69323
[50]	train-rmse:1.14669	validacion-rmse:1.51531
[60]	train-rmse:1.10802	validacion-rmse:1.50591
[68]	train-rmse:1.09897	validacion-rmse:1.51393
2 4 (4, 0.7757389766069346, [{'max_depth': 1, 'eta': 0.1, 'valor': 1.3504029044589683}, {'max_depth': 2, 'eta': 0.1, 'valor': 1.0005462611735718}, {'max_depth': 3, 'eta': 0.1, 'valor': 0.8205307761760696}, {'max_depth': 4, 'eta': 0.1, 'valor': 0.7757389766069346}])