# TFG

Primero importamos las librerías

In [1]:
import pandas as pd
import numpy as np

Importamos los datos, e imprimimos los primeros para comprobar que se han importado correctamente.

In [2]:
df = pd.read_csv('SolUsdkaggle.csv')
df.head()

           Date   Price    Open    High     Low   Vol. Change %
0  May 06, 2023  22.773  22.825  23.224  22.689  5.34M   -0.23%
1  May 05, 2023  22.825  21.740  23.043  21.656  4.96M    4.99%
2  May 04, 2023  21.740  22.220  22.472  21.616  3.21M   -2.16%
3  May 03, 2023  22.220  22.250  22.282  21.254  5.12M   -0.14%
4  May 02, 2023  22.252  21.952  22.374  21.760  3.28M    1.26%

Imprimimos la información de cada característica

In [3]:
df.tail()

             Date  Price   Open   High    Low Vol. Change %
994  Jul 22, 2020  1.046  1.004  1.087  1.003    -    4.17%
995  Jul 21, 2020  1.004  0.874  1.005  0.874    -  -27.41%
996  Jul 15, 2020  1.383  1.115  1.384  1.115    -   24.00%
997  Jul 14, 2020  1.115  1.279  1.279  1.114    -  -12.78%
998  Jul 13, 2020  1.279  1.009  1.279  1.009    -   26.71%

In [4]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999 entries, 0 to 998
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      999 non-null    object
 1   Price     999 non-null    float64
 2   Open      999 non-null    float64
 3   High      999 non-null    float64
 4   Low       999 non-null    float64
 5   Vol.      999 non-null    object
 6   Change %  999 non-null    object
dtypes: float64(4), object(3)
memory usage: 54.8+ KB
None