In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sea
from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_regression
import xgboost as xgb
import tensorflow as tf

In [3]:
df = pd.read_csv('SOLUSTDAtas_tratado.csv')
df.head()

                  date  open  high   low  close
0  2020-08-12 03:00:00  3.10  3.35  3.10   3.25
1  2020-08-12 04:00:00  3.25  3.25  3.15   3.15
2  2020-08-12 05:00:00  3.15  3.30  3.15   3.30
3  2020-08-12 06:00:00  3.30  3.30  3.15   3.30
4  2020-08-12 07:00:00  3.25  3.25  3.20   3.25

In [4]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36400 entries, 0 to 36399
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    36400 non-null  object
 1   open    36400 non-null  float64
 2   high    36400 non-null  float64
 3   low     36400 non-null  float64
 4   close   36400 non-null  float64
dtypes: float64(4), object(1)
memory usage: 1.4+ MB
None

# Preprocesado de Datos

In [5]:
tamanio = df.shape[0]

In [6]:
df_train = df.copy().loc[0:int(tamanio*0.7)]
df_train

                      date   open   high    low  close
0      2020-08-12 03:00:00   3.10   3.35   3.10   3.25
1      2020-08-12 04:00:00   3.25   3.25   3.15   3.15
2      2020-08-12 05:00:00   3.15   3.30   3.15   3.30
3      2020-08-12 06:00:00   3.30   3.30   3.15   3.30
4      2020-08-12 07:00:00   3.25   3.25   3.20   3.25
...                    ...    ...    ...    ...    ...
25476  2023-07-11 21:00:00  22.00  22.05  21.90  22.00
25477  2023-07-11 22:00:00  22.00  22.10  21.90  22.00
25478  2023-07-11 23:00:00  22.00  22.05  21.75  21.95
25479  2023-07-12 00:00:00  21.95  22.10  21.90  22.05
25480  2023-07-12 01:00:00  22.05  22.15  22.00  22.10

[25481 rows x 5 columns]

In [7]:
df_vali = df.copy().loc[int(tamanio*0.7 + 1):int(tamanio*0.9)]
df_vali

                      date    open    high     low   close
25481  2023-07-12 02:00:00   22.10   22.30   22.05   22.15
25482  2023-07-12 03:00:00   22.15   22.25   22.10   22.10
25483  2023-07-12 04:00:00   22.10   22.10   22.00   22.00
25484  2023-07-12 05:00:00   22.00   22.00   21.90   21.95
25485  2023-07-12 06:00:00   21.95   22.05   21.90   22.00
...                    ...     ...     ...     ...     ...
32756  2024-05-10 05:00:00  153.65  154.35  152.85  153.95
32757  2024-05-10 06:00:00  153.95  154.70  153.45  153.75
32758  2024-05-10 07:00:00  153.75  154.10  152.30  153.30
32759  2024-05-10 08:00:00  153.30  155.10  153.15  154.95
32760  2024-05-10 09:00:00  154.95  155.75  154.25  154.35

[7280 rows x 5 columns]

In [8]:
df_test = df.copy().loc[int(tamanio*0.9 + 1):tamanio]
df_test

                      date    open   high     low   close
32761  2024-05-10 10:00:00  154.35  154.5  153.45  154.10
32762  2024-05-10 11:00:00  154.10  154.8  153.25  154.15
32763  2024-05-10 12:00:00  154.15  154.3  153.25  154.15
32764  2024-05-10 13:00:00  154.15  155.2  153.00  155.05
32765  2024-05-10 14:00:00  155.05  155.4  153.10  153.30
...                    ...     ...    ...     ...     ...
36395  2024-10-08 20:00:00  143.35  143.9  142.35  142.95
36396  2024-10-08 21:00:00  142.95  144.1  142.25  143.75
36397  2024-10-08 22:00:00  143.75  144.5  143.35  144.50
36398  2024-10-08 23:00:00  144.50  144.7  144.05  144.25
36399  2024-10-09 00:00:00  144.25  144.3  143.55  143.80

[3639 rows x 5 columns]

# Declaramos y Entrenamos el modelo

Preparamos los datos en el formato requerido por el algoritmo para su entrenamiento

In [11]:
X1 = []
y1= []
for i in range(0, df_train.shape[0] - 1):
    auxy = df_train.iloc[i + 1]
    y1.append(auxy.close)    #AÃ±adimos a y el valor de close de la fila i+1 de df.
    aux = df_train.iloc[i]
    aux1 = []
    for r in range(1, aux.size):  #AÃ±adimos a aux1 los valores open, high, low y close de la fila i de df.
        aux1.append(aux[r])
    X1.append(aux1)

C:\Users\raulg\AppData\Local\Temp\ipykernel_572\744263331.py:9: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  aux1.append(aux[r])

Preparamos los datos usados para testear el algortimo en el formato requerido

In [22]:
Xvt = []
yvt = []
for n in range (0, df_vali.shape[0]):
    aux = df_vali.iloc[n]
    aux1 = aux[1:].tolist()
    Xvt.append(aux1)
for r in range (0,df_test.shape[0] - 1):
    aux = df_test.iloc[r]
    aux1 = aux[1:].tolist()
    Xvt.append(aux1)
for t in range(1, df_vali.shape[0]):
    yvt.append(df_vali.iloc[t].close)
for d in range(0, df_test.shape[0]):
    yvt.append(df_test.iloc[d].close)

In [23]:
print(Xvt[1])

[22.15, 22.25, 22.1, 22.1]

In [24]:
print(yvt[0])

22.1

Desarrollamos un algoritmo para entrenar distintas instacias con distintos parÃ¡metros y compararlas

In [25]:
def evalRandomForest(Testrpr, predictT):
    suma = 0
    n = len(Testrpr)
    for i in range(0,n):
        suma = abs(predictT[i] - Testrpr[i])/Testrpr[i] +  suma
    error_medio = suma/n
    emp = error_medio*100 # error medio en porcentaje
    return emp

In [13]:
def train_randomForestdepth(ini, fin):
    posbest = 0
    best = 100
    for i in range(ini, fin):
        regr1 = RandomForestRegressor(max_depth=i, random_state=0)
        regr1.fit(X1, y1)
        predictT = regr1.predict(Xvt)
        valor = evalRandomForest(yvt, predictT)
        if valor < best:
            best = valor
            posbest = i
    return(posbest, best)

In [28]:
tuple = train_randomForestdepth(1, 50)

In [29]:
print(tuple[0])
print(tuple[1])

9
0.7791437185511273

# PredicciÃ³n Utilizando XGBoost

Ponemos los datos en el formato correcto

In [9]:
df_xgb = df.copy()
df_xgb['close_next'] = df_xgb['close'].shift(-1)

In [10]:
df_xgb = df_xgb.dropna()
df_xgb

                      date    open    high     low   close  close_next
0      2020-08-12 03:00:00    3.10    3.35    3.10    3.25        3.15
1      2020-08-12 04:00:00    3.25    3.25    3.15    3.15        3.30
2      2020-08-12 05:00:00    3.15    3.30    3.15    3.30        3.30
3      2020-08-12 06:00:00    3.30    3.30    3.15    3.30        3.25
4      2020-08-12 07:00:00    3.25    3.25    3.20    3.25        3.25
...                    ...     ...     ...     ...     ...         ...
36394  2024-10-08 19:00:00  143.80  143.95  142.40  143.35      142.95
36395  2024-10-08 20:00:00  143.35  143.90  142.35  142.95      143.75
36396  2024-10-08 21:00:00  142.95  144.10  142.25  143.75      144.50
36397  2024-10-08 22:00:00  143.75  144.50  143.35  144.50      144.25
36398  2024-10-08 23:00:00  144.50  144.70  144.05  144.25      143.80

[36399 rows x 6 columns]

In [11]:
tamanio_xgb = df_xgb.shape[0]
tamanio_xgb

36399

In [12]:
df_train_xgb = df_xgb.copy().loc[0:int(tamanio_xgb*0.7)]
df_train_xgb

                      date   open   high    low  close  close_next
0      2020-08-12 03:00:00   3.10   3.35   3.10   3.25        3.15
1      2020-08-12 04:00:00   3.25   3.25   3.15   3.15        3.30
2      2020-08-12 05:00:00   3.15   3.30   3.15   3.30        3.30
3      2020-08-12 06:00:00   3.30   3.30   3.15   3.30        3.25
4      2020-08-12 07:00:00   3.25   3.25   3.20   3.25        3.25
...                    ...    ...    ...    ...    ...         ...
25475  2023-07-11 20:00:00  22.10  22.10  21.95  22.00       22.00
25476  2023-07-11 21:00:00  22.00  22.05  21.90  22.00       22.00
25477  2023-07-11 22:00:00  22.00  22.10  21.90  22.00       21.95
25478  2023-07-11 23:00:00  22.00  22.05  21.75  21.95       22.05
25479  2023-07-12 00:00:00  21.95  22.10  21.90  22.05       22.10

[25480 rows x 6 columns]

In [13]:
df_vali_xgb = df_xgb.copy().loc[int(tamanio_xgb*0.7 + 1):int(tamanio_xgb*0.9)]
df_vali_xgb

                      date    open    high     low   close  close_next
25480  2023-07-12 01:00:00   22.05   22.15   22.00   22.10       22.15
25481  2023-07-12 02:00:00   22.10   22.30   22.05   22.15       22.10
25482  2023-07-12 03:00:00   22.15   22.25   22.10   22.10       22.00
25483  2023-07-12 04:00:00   22.10   22.10   22.00   22.00       21.95
25484  2023-07-12 05:00:00   22.00   22.00   21.90   21.95       22.00
...                    ...     ...     ...     ...     ...         ...
32755  2024-05-10 04:00:00  153.40  153.80  152.70  153.65      153.95
32756  2024-05-10 05:00:00  153.65  154.35  152.85  153.95      153.75
32757  2024-05-10 06:00:00  153.95  154.70  153.45  153.75      153.30
32758  2024-05-10 07:00:00  153.75  154.10  152.30  153.30      154.95
32759  2024-05-10 08:00:00  153.30  155.10  153.15  154.95      154.35

[7280 rows x 6 columns]

In [14]:
df_test_xgb = df_xgb.copy().loc[int(tamanio_xgb*0.9 + 1):tamanio_xgb]
df_test_xgb

                      date    open    high     low   close  close_next
32760  2024-05-10 09:00:00  154.95  155.75  154.25  154.35      154.10
32761  2024-05-10 10:00:00  154.35  154.50  153.45  154.10      154.15
32762  2024-05-10 11:00:00  154.10  154.80  153.25  154.15      154.15
32763  2024-05-10 12:00:00  154.15  154.30  153.25  154.15      155.05
32764  2024-05-10 13:00:00  154.15  155.20  153.00  155.05      153.30
...                    ...     ...     ...     ...     ...         ...
36394  2024-10-08 19:00:00  143.80  143.95  142.40  143.35      142.95
36395  2024-10-08 20:00:00  143.35  143.90  142.35  142.95      143.75
36396  2024-10-08 21:00:00  142.95  144.10  142.25  143.75      144.50
36397  2024-10-08 22:00:00  143.75  144.50  143.35  144.50      144.25
36398  2024-10-08 23:00:00  144.50  144.70  144.05  144.25      143.80

[3639 rows x 6 columns]

In [15]:
df_valitest_xgb = pd.concat([df_vali_xgb, df_test_xgb], ignore_index=True)

In [16]:
XvtXGB = df_valitest_xgb[['open', 'high', 'low', 'close']] 
yvtXGB = df_valitest_xgb['close_next']

In [17]:
dtrainvali = xgb.DMatrix(data=XvtXGB, label=yvtXGB)

Definimos las caracterÃ­sticas para el entrenamiento

In [20]:
X = df_train_xgb[['open', 'high', 'low', 'close']] 
y = df_train_xgb['close_next']
X1 = df_vali_xgb[['open', 'high', 'low', 'close']] 
y1 = df_vali_xgb['close_next']

In [21]:
dtrain = xgb.DMatrix(data=X, label=y)
dvali = xgb.DMatrix(data=X1, label=y1)

In [22]:
param = {'max_depth': 10, 'eta': 0.1, 'objective': 'reg:squarederror'}
evals = [(dtrain, 'train'), (dvali, 'validacion')]

ComprobaciÃ³n de la tasa de error en los datos de test

In [24]:
def evalXGB(Test_xgb, predict_xgb_test):
    suma = 0
    n = len(Test_xgb)
    for i in range(0,n):
        suma = abs(predict_xgb_test[i] - Test_xgb[i])/Test_xgb[i] +  suma
    error_medio = suma/n
    emp = error_medio*100 # error medio en porcentaje
    return emp

In [32]:
def train_XGB(num_boost_round, early_stop, maxdepthmin, maxdepthmax):
    best = 100
    best_depth = 0
    for i in range(maxdepthmin, maxdepthmax):
        param = {'max_depth': i, 'eta': 0.1, 'objective': 'reg:squarederror'}
        bstaux = xgb.train(param, dtrain, num_boost_round=num_boost_round, evals=evals, early_stopping_rounds=early_stop, verbose_eval=10)
        predict_xgb_test = bstaux.predict(dtrainvali)
        valor = evalXGB(yvtXGB, predict_xgb_test)
        if(valor < best):
            best = valor
            best_depth = i
    return (best_depth, best)

In [ ]:
train_XGB(1000, 10, 1, 15)

[0]	train-rmse:53.26953	validacion-rmse:55.23855
[10]	train-rmse:26.63411	validacion-rmse:21.66486
[20]	train-rmse:15.80944	validacion-rmse:9.74252
[30]	train-rmse:10.10769	validacion-rmse:6.02822
[40]	train-rmse:6.72877	validacion-rmse:4.32861
[50]	train-rmse:4.62899	validacion-rmse:3.40639
[60]	train-rmse:3.34697	validacion-rmse:2.84340
[70]	train-rmse:2.60039	validacion-rmse:2.59542
[80]	train-rmse:2.18529	validacion-rmse:2.50218
[90]	train-rmse:1.96376	validacion-rmse:2.44816
[100]	train-rmse:1.84537	validacion-rmse:2.42617
[110]	train-rmse:1.78430	validacion-rmse:2.41209
[120]	train-rmse:1.75328	validacion-rmse:2.41156
[0]	train-rmse:52.39037	validacion-rmse:55.17754
[10]	train-rmse:20.23810	validacion-rmse:19.20769
[20]	train-rmse:8.13854	validacion-rmse:7.27882
[30]	train-rmse:3.55046	validacion-rmse:3.21334
[40]	train-rmse:1.94405	validacion-rmse:2.06142
[50]	train-rmse:1.48697	validacion-rmse:1.81909
[60]	train-rmse:1.38378	validacion-rmse:1.78013
[70]	train-rmse:1.35802	validacion-rmse:1.76926
[80]	train-rmse:1.34693	validacion-rmse:1.75963
[90]	train-rmse:1.33975	validacion-rmse:1.75309
[100]	train-rmse:1.32920	validacion-rmse:1.74221
[110]	train-rmse:1.32065	validacion-rmse:1.72755
[120]	train-rmse:1.31146	validacion-rmse:1.71843
[130]	train-rmse:1.30234	validacion-rmse:1.70658
[140]	train-rmse:1.29563	validacion-rmse:1.69797
[150]	train-rmse:1.28938	validacion-rmse:1.69031
[160]	train-rmse:1.28410	validacion-rmse:1.68414
[170]	train-rmse:1.28155	validacion-rmse:1.68204
[180]	train-rmse:1.27445	validacion-rmse:1.67262
[190]	train-rmse:1.26874	validacion-rmse:1.66781
[200]	train-rmse:1.26239	validacion-rmse:1.66091
[210]	train-rmse:1.25742	validacion-rmse:1.65757
[220]	train-rmse:1.25264	validacion-rmse:1.65439
[230]	train-rmse:1.24831	validacion-rmse:1.64859
[240]	train-rmse:1.24448	validacion-rmse:1.64501
[250]	train-rmse:1.24253	validacion-rmse:1.64349
[260]	train-rmse:1.23683	validacion-rmse:1.63480
[270]	train-rmse:1.23401	validacion-rmse:1.63146
[280]	train-rmse:1.22987	validacion-rmse:1.62748
[290]	train-rmse:1.22638	validacion-rmse:1.62337
[300]	train-rmse:1.22338	validacion-rmse:1.61942
[310]	train-rmse:1.22054	validacion-rmse:1.61547
[320]	train-rmse:1.21625	validacion-rmse:1.61139
[330]	train-rmse:1.21399	validacion-rmse:1.60881
[340]	train-rmse:1.21185	validacion-rmse:1.60553
[350]	train-rmse:1.21010	validacion-rmse:1.60283
[360]	train-rmse:1.20838	validacion-rmse:1.60183
[370]	train-rmse:1.20530	validacion-rmse:1.59623
[380]	train-rmse:1.20307	validacion-rmse:1.59507
[390]	train-rmse:1.20193	validacion-rmse:1.59430
[400]	train-rmse:1.20034	validacion-rmse:1.59262
[410]	train-rmse:1.19648	validacion-rmse:1.58426
[420]	train-rmse:1.19323	validacion-rmse:1.58031
[430]	train-rmse:1.19163	validacion-rmse:1.57852
[440]	train-rmse:1.18970	validacion-rmse:1.57662
[450]	train-rmse:1.18677	validacion-rmse:1.57202
[460]	train-rmse:1.18568	validacion-rmse:1.57048
[470]	train-rmse:1.18464	validacion-rmse:1.56727
[480]	train-rmse:1.18287	validacion-rmse:1.56623
[490]	train-rmse:1.18110	validacion-rmse:1.56462
[500]	train-rmse:1.17858	validacion-rmse:1.56113
[510]	train-rmse:1.17599	validacion-rmse:1.55822
[520]	train-rmse:1.17494	validacion-rmse:1.55698
[530]	train-rmse:1.17387	validacion-rmse:1.55620
[540]	train-rmse:1.17131	validacion-rmse:1.55277
[550]	train-rmse:1.16960	validacion-rmse:1.55007
[560]	train-rmse:1.16818	validacion-rmse:1.54898
[570]	train-rmse:1.16672	validacion-rmse:1.54829
[580]	train-rmse:1.16544	validacion-rmse:1.54683
[590]	train-rmse:1.16416	validacion-rmse:1.54505
[600]	train-rmse:1.16211	validacion-rmse:1.54296
[608]	train-rmse:1.16092	validacion-rmse:1.54150
[0]	train-rmse:52.10317	validacion-rmse:55.25117
[10]	train-rmse:18.57948	validacion-rmse:19.28414
[20]	train-rmse:6.73069	validacion-rmse:6.91180
[30]	train-rmse:2.65782	validacion-rmse:2.80524
[40]	train-rmse:1.45801	validacion-rmse:1.74674
[50]	train-rmse:1.21628	validacion-rmse:1.56519
[60]	train-rmse:1.17968	validacion-rmse:1.53668
[70]	train-rmse:1.17081	validacion-rmse:1.53019
[80]	train-rmse:1.16593	validacion-rmse:1.52671
[90]	train-rmse:1.16316	validacion-rmse:1.52534
[100]	train-rmse:1.16007	validacion-rmse:1.52293
[110]	train-rmse:1.15861	validacion-rmse:1.52262
[120]	train-rmse:1.15621	validacion-rmse:1.52117
[130]	train-rmse:1.15363	validacion-rmse:1.51977
[140]	train-rmse:1.15111	validacion-rmse:1.51861
[150]	train-rmse:1.14942	validacion-rmse:1.51827
[151]	train-rmse:1.14886	validacion-rmse:1.51833
[0]	train-rmse:52.04284	validacion-rmse:55.17779
[10]	train-rmse:18.28963	validacion-rmse:19.34540
[20]	train-rmse:6.51004	validacion-rmse:6.94352
[30]	train-rmse:2.52216	validacion-rmse:2.80200
[40]	train-rmse:1.38312	validacion-rmse:1.70930
[50]	train-rmse:1.16449	validacion-rmse:1.52343
[60]	train-rmse:1.13080	validacion-rmse:1.49894
[70]	train-rmse:1.12421	validacion-rmse:1.49544
[77]	train-rmse:1.12214	validacion-rmse:1.49524
[0]	train-rmse:52.03235	validacion-rmse:55.15282
[10]	train-rmse:18.24811	validacion-rmse:19.30775
[20]	train-rmse:6.47731	validacion-rmse:6.90271
[30]	train-rmse:2.50267	validacion-rmse:2.79246
[40]	train-rmse:1.36923	validacion-rmse:1.70435
[50]	train-rmse:1.15109	validacion-rmse:1.51264
[60]	train-rmse:1.11663	validacion-rmse:1.48675
[70]	train-rmse:1.10973	validacion-rmse:1.48338
[74]	train-rmse:1.10835	validacion-rmse:1.48361
[0]	train-rmse:52.03082	validacion-rmse:55.14736
[10]	train-rmse:18.24199	validacion-rmse:19.29815
[20]	train-rmse:6.47295	validacion-rmse:6.89810
[30]	train-rmse:2.49771	validacion-rmse:2.79205
[40]	train-rmse:1.35928	validacion-rmse:1.70124
[50]	train-rmse:1.13690	validacion-rmse:1.51086
[60]	train-rmse:1.10024	validacion-rmse:1.48735
[70]	train-rmse:1.09092	validacion-rmse:1.48459
[76]	train-rmse:1.08892	validacion-rmse:1.48518
[0]	train-rmse:52.03061	validacion-rmse:55.14695
[10]	train-rmse:18.24104	validacion-rmse:19.29686
[20]	train-rmse:6.47209	validacion-rmse:6.89753
[30]	train-rmse:2.49587	validacion-rmse:2.79037
[40]	train-rmse:1.35421	validacion-rmse:1.70246
[50]	train-rmse:1.12758	validacion-rmse:1.51474
[60]	train-rmse:1.08749	validacion-rmse:1.49227
[70]	train-rmse:1.07828	validacion-rmse:1.48897
[80]	train-rmse:1.07473	validacion-rmse:1.48956
[0]	train-rmse:52.03058	validacion-rmse:55.14747
[10]	train-rmse:18.24086	validacion-rmse:19.29670
[20]	train-rmse:6.47160	validacion-rmse:6.89718
[30]	train-rmse:2.49447	validacion-rmse:2.78986
[40]	train-rmse:1.34756	validacion-rmse:1.70365
[50]	train-rmse:1.11591	validacion-rmse:1.51793
[60]	train-rmse:1.07439	validacion-rmse:1.49636
[70]	train-rmse:1.06113	validacion-rmse:1.49445
[75]	train-rmse:1.05833	validacion-rmse:1.49597
[0]	train-rmse:52.03058	validacion-rmse:55.14741
[10]	train-rmse:18.24078	validacion-rmse:19.29668
[20]	train-rmse:6.47133	validacion-rmse:6.89730
[30]	train-rmse:2.49332	validacion-rmse:2.79014
[40]	train-rmse:1.34069	validacion-rmse:1.70568
[50]	train-rmse:1.10379	validacion-rmse:1.52067
[60]	train-rmse:1.06197	validacion-rmse:1.49748
[67]	train-rmse:1.05259	validacion-rmse:1.49763
[0]	train-rmse:52.03058	validacion-rmse:55.14741
[10]	train-rmse:18.24075	validacion-rmse:19.29663
[20]	train-rmse:6.47113	validacion-rmse:6.89713
[30]	train-rmse:2.49259	validacion-rmse:2.78981
[40]	train-rmse:1.33772	validacion-rmse:1.70668
[50]	train-rmse:1.09531	validacion-rmse:1.52521
[60]	train-rmse:1.05078	validacion-rmse:1.50811
[66]	train-rmse:1.04186	validacion-rmse:1.50847
[0]	train-rmse:52.03058	validacion-rmse:55.14741
[10]	train-rmse:18.24074	validacion-rmse:19.29664
[20]	train-rmse:6.47104	validacion-rmse:6.89726
[30]	train-rmse:2.49215	validacion-rmse:2.78996
[40]	train-rmse:1.33278	validacion-rmse:1.70708
[50]	train-rmse:1.08474	validacion-rmse:1.52794
[60]	train-rmse:1.03989	validacion-rmse:1.51009
[70]	train-rmse:1.02627	validacion-rmse:1.51009
[0]	train-rmse:52.03058	validacion-rmse:55.14741
[10]	train-rmse:18.24073	validacion-rmse:19.29663
[20]	train-rmse:6.47098	validacion-rmse:6.89725
[30]	train-rmse:2.49186	validacion-rmse:2.78991
[40]	train-rmse:1.33059	validacion-rmse:1.70646
[50]	train-rmse:1.07902	validacion-rmse:1.52822
[60]	train-rmse:1.03295	validacion-rmse:1.51053
[69]	train-rmse:1.01897	validacion-rmse:1.51026
[0]	train-rmse:52.03058	validacion-rmse:55.14741
[10]	train-rmse:18.24072	validacion-rmse:19.29663
[20]	train-rmse:6.47095	validacion-rmse:6.89722
[30]	train-rmse:2.49167	validacion-rmse:2.78990
[40]	train-rmse:1.32948	validacion-rmse:1.70839
[50]	train-rmse:1.07472	validacion-rmse:1.53286
[60]	train-rmse:1.02692	validacion-rmse:1.51834
[68]	train-rmse:1.01338	validacion-rmse:1.51795
[0]	train-rmse:52.03058	validacion-rmse:55.14741
[10]	train-rmse:18.24071	validacion-rmse:19.29665
[20]	train-rmse:6.47093	validacion-rmse:6.89723
[30]	train-rmse:2.49150	validacion-rmse:2.79010
[40]	train-rmse:1.32878	validacion-rmse:1.70657
[50]	train-rmse:1.07048	validacion-rmse:1.52872
[60]	train-rmse:1.01957	validacion-rmse:1.51286
[66]	train-rmse:1.00866	validacion-rmse:1.51511

(8, 0.9708896746706613)