In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sea

In [3]:
df = pd.read_csv('SOLUSDTAtasH.csv')
df[['date', 'open', 'high', 'low', 'close']] = df['2020-12-08 00:00:00;3.30;3.30;3.10;3.15'].str.split(';', expand = True)
df['date'] = pd.to_datetime(df['date'], format="%Y-%d-%m %H:%M:%S")
df[['open', 'high', 'low', 'close']] = df[['open', 'high', 'low', 'close']].astype(float)
df = df.drop('2020-12-08 00:00:00;3.30;3.30;3.10;3.15', axis=1)
df.head()

                 date  open  high   low  close
0 2020-08-12 01:00:00  3.10  3.35  3.10   3.25
1 2020-08-12 02:00:00  3.25  3.25  3.15   3.15
2 2020-08-12 03:00:00  3.15  3.30  3.15   3.30
3 2020-08-12 04:00:00  3.30  3.30  3.15   3.30
4 2020-08-12 05:00:00  3.25  3.25  3.20   3.25

In [4]:
df.tail()

                     date    open   high     low   close
36395 2024-10-08 18:00:00  143.35  143.9  142.35  142.95
36396 2024-10-08 19:00:00  142.95  144.1  142.25  143.75
36397 2024-10-08 20:00:00  143.75  144.5  143.35  144.50
36398 2024-10-08 21:00:00  144.50  144.7  144.05  144.25
36399 2024-10-08 22:00:00  144.25  144.3  143.55  143.80

In [6]:
df['date'] = df['date'] + pd.to_timedelta(2, unit='h')
print(df)

                     date    open    high     low   close
0     2020-08-12 03:00:00    3.10    3.35    3.10    3.25
1     2020-08-12 04:00:00    3.25    3.25    3.15    3.15
2     2020-08-12 05:00:00    3.15    3.30    3.15    3.30
3     2020-08-12 06:00:00    3.30    3.30    3.15    3.30
4     2020-08-12 07:00:00    3.25    3.25    3.20    3.25
...                   ...     ...     ...     ...     ...
36395 2024-10-08 20:00:00  143.35  143.90  142.35  142.95
36396 2024-10-08 21:00:00  142.95  144.10  142.25  143.75
36397 2024-10-08 22:00:00  143.75  144.50  143.35  144.50
36398 2024-10-08 23:00:00  144.50  144.70  144.05  144.25
36399 2024-10-09 00:00:00  144.25  144.30  143.55  143.80

[36400 rows x 5 columns]