In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sea

In [ ]:
df = pd.read_csv('SOLUSDTAtasH.csv')
# Separo los datos en columnas usando como separador los puntos y coma
df[['date', 'open', 'high', 'low', 'close']] = df['2020-12-08 00:00:00;3.30;3.30;3.10;3.15'].str.split(';', expand = True) 
# Asigno el tipo datetime con el formato %Y-%d-%m %H:%M:%S a la columna date
df['date'] = pd.to_datetime(df['date'], format="%Y-%d-%m %H:%M:%S")
# Asigno el tipo float a las columnas open, high, low y close
df[['open', 'high', 'low', 'close']] = df[['open', 'high', 'low', 'close']].astype(float)
df = df.drop('2020-12-08 00:00:00', axis=1)

        date     open     high      low    close
0 2018-01-09  15000.0  15500.0  14100.0  14400.0
1 2018-01-10  14500.0  15000.0  13200.0  15000.0
2 2018-01-11  15000.0  15000.0  11400.0  13300.0
3 2018-01-12  13300.0  14200.0  12500.0  13800.0
4 2018-01-13  14000.0  14600.0  14000.0  14300.0

In [12]:
df.tail()

           date     open     high      low    close
2455 2024-10-04  60800.0  62500.0  60500.0  62100.0
2456 2024-10-05  62100.0  62400.0  61700.0  62100.0
2457 2024-10-06  62100.0  63000.0  61800.0  62900.0
2458 2024-10-07  62900.0  64500.0  62200.0  62300.0
2459 2024-10-08  62300.0  63200.0  61900.0  62600.0

In [13]:
df['date'] = df['date'] + pd.to_timedelta(2, unit='h')
print(df)

                    date     open     high      low    close
0    2018-01-09 02:00:00  15000.0  15500.0  14100.0  14400.0
1    2018-01-10 02:00:00  14500.0  15000.0  13200.0  15000.0
2    2018-01-11 02:00:00  15000.0  15000.0  11400.0  13300.0
3    2018-01-12 02:00:00  13300.0  14200.0  12500.0  13800.0
4    2018-01-13 02:00:00  14000.0  14600.0  14000.0  14300.0
...                  ...      ...      ...      ...      ...
2455 2024-10-04 02:00:00  60800.0  62500.0  60500.0  62100.0
2456 2024-10-05 02:00:00  62100.0  62400.0  61700.0  62100.0
2457 2024-10-06 02:00:00  62100.0  63000.0  61800.0  62900.0
2458 2024-10-07 02:00:00  62900.0  64500.0  62200.0  62300.0
2459 2024-10-08 02:00:00  62300.0  63200.0  61900.0  62600.0

[2460 rows x 5 columns]

In [ ]:
# Guardo el dataframe modificado
df.to_csv('SOLUSTDAtas_tratado.csv', index=False)